.navbar{
    background: linear-gradient(to right,rgba(255, 80, 80, 0.99), rgba(254, 3, 3, 0.99), rgba(92, 2, 2, 0.99), rgba(52, 2, 2, 0.99)); /* Degradado progresivo entre 4 colores */
    color: white;
}

.texto{
    color: whitesmoke;
}

.navbar-brand{
    color: aqua;
}

.nav-link{
    color: aliceblue;
}

a{
    font-size: 24px;
}

.navegadorDerecha{
    margin-top: 3%;
}

.navegadorIzquierda{
    margin-top: 10%;
}

.iconos{
    display: flex;
    gap: 10%;
    margin-left: 5%;
}

.iconosDerecha{
    display: flex;
    gap: 10%;
    margin-right: 2%;
}

.navbar-toggler{
    background-color: whitesmoke;
    color: black;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
}
[data-title] {
    position: relative;
}








