.footer{
    color:white;
    position:fixed;
    bottom: 0px;
    width:100%;
    font-size: 20px;
    background: linear-gradient(to right,rgba(255, 80, 80, 0.99), rgba(254, 3, 3, 0.99), rgba(92, 2, 2, 0.99), rgba(52, 2, 2, 0.99)); /* Degradado progresivo entre 4 colores */

}
.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .footer{
        display: none;
    }
     }