<section class="light">
	<div class="container py-4">
		@if (idioma == 'es') {
			<h1 class="titulo">Torneos Karting Trassierra</h1>
			@for (torneo of aTorneos; track $index) {
				@if ($index % 2 == 0) {
					<article class="postcard dark red">
						<a class="postcard__img_link" href="#">
							<img class="postcard__img" src="../../../assets/img/{{torneo.imagen}}" alt="Image Title" />
						</a>
						<div class="postcard__text">
							<h1 class="postcard__title red">{{torneo.nombre}}</h1>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
									<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
									<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
								  </svg>
								  {{Formatofecha(torneo.fecha)}}
							</div>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
									<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
									<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
								  </svg>
								  {{Formatohora(torneo.hora)}}
							</div>
							<div class="postcard__bar"></div>
							<div class="postcard__preview-txt">{{torneo.descripcion}}</div>
							<ul class="postcard__tagbox">
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][0].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][0].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][1].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][1].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][2].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][2].nombre}}
								</li>
								@if (aParticipacion[$index] == 0) {
									<li class="tag__item play blue" (click)="apuntarseTorneo(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Apuntarse</a>
									</li>
								}@else {
									<li class="tag__item play blue" (click)="anularParticipacion(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Anular Participación</a>
									</li>
								}
							</ul>
						</div>
					</article>
				}@else {
					<article class="postcard dark red">
						<a class="postcard__img_link" href="#">
							<img class="postcard__img" src="../../../assets/img/{{torneo.imagen}}" alt="Image Title" />
						</a>
						<div class="postcard__text">
							<h1 class="postcard__title red"><a href="#">{{torneo.nombre}}</a></h1>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
									<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
									<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
								  </svg>
								  {{Formatofecha(torneo.fecha)}}
							</div>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
									<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
									<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
								  </svg>
								  {{Formatohora(torneo.hora)}}
							</div>
							<div class="postcard__bar"></div>
							<div class="postcard__preview-txt">{{torneo.descripcion}}</div>
							<ul class="postcard__tagbox">
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][0].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][0].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][1].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][1].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][2].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][2].nombre}}
								</li>
								@if (aParticipacion[$index] == 0) {
									<li class="tag__item play blue" (click)="apuntarseTorneo(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Apuntarse</a>
									</li>
								}@else {
									<li class="tag__item play blue" (click)="anularParticipacion(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Anular Participación</a>
									</li>
								}
							</ul>
						</div>
					</article>
				}
			}
		}@else {
			<h1 class="titulo">Trassierra Karting Tournaments</h1>
			@for (torneo of aTorneos; track $index) {
				@if ($index % 2 == 0) {
					<article class="postcard dark red">
						<a class="postcard__img_link" href="#">
							<img class="postcard__img" src="../../../assets/img/{{torneo.imagen}}" alt="Image Title" />
						</a>
						<div class="postcard__text">
							<h1 class="postcard__title red">{{torneo.nombre}}</h1>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
									<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
									<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
								  </svg>
								  {{Formatofecha(torneo.fecha)}}
							</div>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
									<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
									<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
								  </svg>
								  {{Formatohora(torneo.hora)}}
							</div>
							<div class="postcard__bar"></div>
							<div class="postcard__preview-txt">{{torneo.descripcion_en}}</div>
							<ul class="postcard__tagbox">
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][0].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][0].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][1].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][1].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][2].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][2].nombre}}
								</li>
								@if (aParticipacion[$index] == 0) {
									<li class="tag__item play blue" (click)="apuntarseTorneo(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Sign up</a>
									</li>
								}@else {
									<li class="tag__item play blue" (click)="anularParticipacion(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Cancel Participation</a>
									</li>
								}
							</ul>
						</div>
					</article>
				}@else {
					<article class="postcard dark red">
						<a class="postcard__img_link" href="#">
							<img class="postcard__img" src="../../../assets/img/{{torneo.imagen}}" alt="Image Title" />
						</a>
						<div class="postcard__text">
							<h1 class="postcard__title red"><a href="#">{{torneo.nombre}}</a></h1>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
									<path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
									<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
								  </svg>
								  {{Formatofecha(torneo.fecha)}}
							</div>
							<div class="postcard__subtitle small">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
									<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"/>
									<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"/>
								  </svg>
								  {{Formatohora(torneo.hora)}}
							</div>
							<div class="postcard__bar"></div>
							<div class="postcard__preview-txt">{{torneo.descripcion_en}}</div>
							<ul class="postcard__tagbox">
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][0].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][0].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][1].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][1].nombre}}
								</li>
								<li class="tag__item" (click)="verCircuito(aCircuitos[$index][2].id)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
									<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
								  </svg>
								  {{aCircuitos[$index][2].nombre}}
								</li>
								@if (aParticipacion[$index] == 0) {
									<li class="tag__item play blue" (click)="apuntarseTorneo(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Sign up</a>
									</li>
								}@else {
									<li class="tag__item play blue" (click)="anularParticipacion(torneo.id)">
										<a><i class="fas fa-play mr-2"></i> Cancel Participation</a>
									</li>
								}
							</ul>
						</div>
					</article>
				}
			}
		}
	</div>
</section>
