<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario Circuito</title>
</head>
<body>
  <div class="container">
    <div class="atras">
      <svg id="fi_5791165" (click)="VolverCrud()" height="40" viewBox="0 0 512 512" width="40" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m125 0h262c68.848 0 125 56.152 125 125v262c0 68.848-56.152 125-125 125h-262c-68.848 0-125-56.152-125-125v-262c0-68.848 56.152-125 125-125zm77.255 403.209 31.136-31.165-48.017-48.044h118.372a107.358 107.358 0 0 0 107.261-107.233v-.743a107.358 107.358 0 0 0 -107.261-107.232h-171.589v44.075h171.589a63.239 63.239 0 0 1 63.185 63.157v.743a63.239 63.239 0 0 1 -63.185 63.156h-118.372l48.017-48.017-31.136-31.164-101.262 101.233z" fill="#ef314c" fill-rule="evenodd"></path></svg>
    </div>
    @if (idioma =='es') {
      <h1 class="mt-5 text-center titulo">Formulario de Usuario</h1>
    <form [formGroup]="frm" (submit)="comprobarDatos()" autocomplete="off">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese el nombre del usuario">
        @if (frm.get('nombre')?.errors?.['required'] && nombre.dirty) {
            <small class="text-danger font-italic">Dato requerido</small>
          }@else if (frm.get('nombre')?.errors?.['pattern']) {
            <small class="text-danger font-italic">Formato incorrecto (No se permiten números y caracteres especiales)</small>
          }
      </div>
      <div class="mb-3">
        <label for="localización" class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Ingrese localización circuito">
          @if (frm.get('email')?.errors?.['required'] && email.dirty) {
            <small class="text-danger font-italic">Dato requerido</small>
          }@else if (frm.get('email')?.errors?.['email']) {
            <small class="text-danger font-italic">Formato incorrecto</small>
          }
      </div>
      @if (idUsuario) {
        <div class="mb-3">
          <label for="localización" class="form-label">Contraseña(Introduce si quieres cambiarla, si no deja vacio)</label>
          <input type="text" class="form-control" formControlName="contra" placeholder="Ingrese contraseña del usuario">
          @if (frm.get('contra')?.errors?.['pattern']) {
              <small class="text-danger font-italic">Formato incorrecto (de 8 a 16 carácteres, al menos una mayúscula, una minuscula, un número y un carácter especial)</small>
            }
        </div>
      }@else{
        <div class="mb-3">
          <label for="localización" class="form-label">Contraseña</label>
          <input type="text" class="form-control" formControlName="contra" placeholder="Ingrese contraseña del usuario">
          @if (frm.get('contra')?.errors?.['required'] && contra.dirty) {
            <small class="text-danger font-italic">Dato requerido</small>
          }@else if (frm.get('contra')?.errors?.['pattern']) {
            <small class="text-danger font-italic">Formato incorrecto (de 8 a 16 carácteres, al menos una mayúscula, una minuscula, un número y un carácter especial)</small>
          }
        </div>
      }
      <div class="mb-3">
        <label for="localización" class="form-label">Rol</label>
        <select formControlName="rol" class="form-select" aria-label="Default select example">
            <option selected>Seleccione un rol</option>
            <option value="participante">Participante</option>
            <option value="admin">Administrador</option>
          </select>
        @if (frm.get('rol')?.errors?.['required'] && rol.dirty) {
            <small class="text-danger font-italic">Dato requerido</small>
        }
      </div>
        @if (idUsuario != null) {
            <div class="mb-3">
                <label for="localización" class="form-label">Puntos</label>
                <input type="number" class="form-control" formControlName="puntos" placeholder="Ingrese los puntos del usuario">
                @if (frm.get('puntos')?.errors?.['required'] && puntos.dirty) {
                    <small class="text-danger font-italic">Dato requerido</small>
                  }
              </div>
              <div class="mb-3">
                <label for="localización" class="form-label">Torneos ganados</label>
                <input type="number" class="form-control" formControlName="torneos_ganados" placeholder="Ingrese los torneos ganados del usuario">
                @if (frm.get('torneos_ganados')?.errors?.['required'] && torneos_ganados.dirty) {
                    <small class="text-danger font-italic">Dato requerido</small>
                  }
              </div>
              <div class="mb-3">
                <label for="localización" class="form-label">Carreras ganadas</label>
                <input type="number" class="form-control" formControlName="carreras_ganadas" placeholder="Ingrese las carreras ganadas del usuario">
                @if (frm.get('carreras_ganadas')?.errors?.['required'] && carreras_ganadas.dirty) {
                    <small class="text-danger font-italic">Dato requerido</small>
                  }
              </div>
              <div class="mb-3">
                <label for="localización" class="form-label">Podios</label>
                <input type="number" class="form-control" formControlName="podios" placeholder="Ingrese los podios del usuario" value="0">
                @if (frm.get('podios')?.errors?.['required'] && podios.dirty) {
                    <small class="text-danger font-italic">Dato requerido</small>
                  }
              </div>
        }
      <button type="submit" [disabled]="frm.invalid" class="btn btn-primary btn-block gradient-custom-2 mb-3">{{textoBoton}}</button>
    </form>
    }@else {
      <h1 class="mt-5 text-center titulo">User Form</h1>
    <form [formGroup]="frm" (submit)="comprobarDatos()" autocomplete="off">
      <div class="mb-3">
        <label for="nombre" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="nombre" placeholder="Enter the username">
        @if (frm.get('nombre')?.errors?.['required'] && nombre.dirty) {
            <small class="text-danger font-italic">Required Data</small>
          }@else if (frm.get('nombre')?.errors?.['pattern']) {
            <small class="text-danger font-italic">Incorrect format (Numbers and special characters are not allowed)</small>
          }
      </div>
      <div class="mb-3">
        <label for="localización" class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Enter circuit location">
          @if (frm.get('email')?.errors?.['required'] && email.dirty) {
            <small class="text-danger font-italic">Required Data</small>
          }@else if (frm.get('email')?.errors?.['email']) {
            <small class="text-danger font-italic">Incorrect Format</small>
          }
      </div>
      @if (idUsuario) {
        <div class="mb-3">
          <label for="localización" class="form-label">Password (Enter if you want to change it, otherwise leave empty)</label>
          <input type="text" class="form-control" formControlName="contra" placeholder="Ingrese contraseña del usuario">
          @if (frm.get('contra')?.errors?.['pattern']) {
              <small class="text-danger font-italic">Incorrect formatting (8 to 16 characters, at least one uppercase, one lowercase, one number, and one special character)</small>
            }
        </div>
      }@else{
        <div class="mb-3">
          <label for="localización" class="form-label">Password</label>
          <input type="text" class="form-control" formControlName="contra" placeholder="Ingrese contraseña del usuario">
          @if (frm.get('contra')?.errors?.['required'] && contra.dirty) {
            <small class="text-danger font-italic">Required Data</small>
          }@else if (frm.get('contra')?.errors?.['pattern']) {
            <small class="text-danger font-italic">Incorrect formatting (8 to 16 characters, at least one uppercase, one lowercase, one number, and one special character)</small>
          }
        </div>
      }
      <div class="mb-3">
        <label for="localización" class="form-label">Rol</label>
        <select formControlName="rol" class="form-select" aria-label="Default select example">
            <option selected>Select a role</option>
            <option value="participante">Competitor</option>
            <option value="admin">Administrator</option>
          </select>
        @if (frm.get('rol')?.errors?.['required'] && rol.dirty) {
            <small class="text-danger font-italic">Required Data</small>
        }
      </div>
        @if (idUsuario != null) {
            <div class="mb-3">
                <label for="localización" class="form-label">Points</label>
                <input type="number" class="form-control" formControlName="puntos" placeholder="Enter user points">
                @if (frm.get('puntos')?.errors?.['required'] && puntos.dirty) {
                    <small class="text-danger font-italic">Required Data</small>
                  }
              </div>
              <div class="mb-3">
                <label for="localización" class="form-label">Tournaments won</label>
                <input type="number" class="form-control" formControlName="torneos_ganados" placeholder="Enter the user's won tournaments">
                @if (frm.get('torneos_ganados')?.errors?.['required'] && torneos_ganados.dirty) {
                    <small class="text-danger font-italic">Required Data</small>
                  }
              </div>
              <div class="mb-3">
                <label for="localización" class="form-label">Races won</label>
                <input type="number" class="form-control" formControlName="carreras_ganadas" placeholder="Enter the user's races won">
                @if (frm.get('carreras_ganadas')?.errors?.['required'] && carreras_ganadas.dirty) {
                    <small class="text-danger font-italic">Required Data</small>
                  }
              </div>
              <div class="mb-3">
                <label for="localización" class="form-label">Podiums</label>
                <input type="number" class="form-control" formControlName="podios" placeholder="Enter user podiums" value="0">
                @if (frm.get('podios')?.errors?.['required'] && podios.dirty) {
                    <small class="text-danger font-italic">Required Data</small>
                  }
              </div>
        }
        <div class="botones">
          <button type="submit" [disabled]="frm.invalid" class="btn btn-primary btn-block  gradient-custom-2 mb-3">{{textoBoton}}</button>
        </div>
    </form>
    }

  </div>
</body>
</html>
